div {
  position: absoloute;
  min-width: 300px;
  max-width: 475px;
  min-height: 475px;
  max-height: 475px;
  margin: 4em auto;
  border: 1px solid ThreeDShadow;
  border-radius: 30px;
  background-color:blue;
  background-origin: content-box;
}